## intro :: generic predefined section kgap-demo

### defines standard scripts backed by `sema.query`

In [2]:
from kgap_tools import execute_to_df, generate_sparql

### show the generate_sparql expansion from the templates in `./queries/*.sparql`

In [3]:
print("generated sparql in action...")
sparql: str = generate_sparql("all.sparql", N=5) # general spo query with limit 5
print(sparql)

generated sparql in action...
SELECT * WHERE { ?s ?p ?o. }
LIMIT 5

### just execute that query to pandas dataframe

In [4]:
execute_to_df("all.sparql", N=5)

,s,p,o
0,genid-bc6d8bafe780431586f66e36759c909f11-b4_df...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,https://aphia.org/ns/taxon-name/Taxon
1,genid-bc6d8bafe780431586f66e36759c909f11-b4_df...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/2004/02/skos/core#Concept
2,https://aphia.org/id/taxname/1864475,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,https://aphia.org/ns/taxon-name/TaxonName
3,https://aphia.org/id/taxname/1864475,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,https://www.w3.org/2008/05/skos-xl#Label
4,genid-bc6d8bafe780431586f66e36759c909f11-b4_df...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,https://aphia.org/ns/taxon-name/Taxon

# Aphia.org SYNC DASHBOARD

In [50]:
from kgap_tools import execute_to_df, generate_sparql
params: dict = dict()

## find types

In [51]:
params = dict(regex="aphia") 
execute_to_df("rdf-types-count.sparql", **params)

                                        type  count
0      https://aphia.org/ns/taxon-name/Taxon  14696
1  https://aphia.org/ns/taxon-name/TaxonName   7348

## find taxname subjects

In [52]:
params = dict()
execute_to_df("aphia-taxnames.sparql", **params)

                                        tn
0     https://aphia.org/id/taxname/1864475
1     https://aphia.org/id/taxname/1864476
2     https://aphia.org/id/taxname/1864488
3     https://aphia.org/id/taxname/1864490
4     https://aphia.org/id/taxname/1864489
...                                    ...
7343  https://aphia.org/id/taxname/1826325
7344  https://aphia.org/id/taxname/1826327
7345  https://aphia.org/id/taxname/1826326
7346  https://aphia.org/id/taxname/1826334
7347  https://aphia.org/id/taxname/1826342

[7348 rows x 1 columns]

## find predicates from aphia_id

In [53]:
aphiaids: list[int] = [1864475, 1864476, ]
preds: list[str] = []
params = dict(aphiaids=aphiaids, preds=preds)
execute_to_df("aphia-taxn-predicates.sparql", **params)

,tn,pred,value,value_ln,value_type
0,https://aphia.org/id/taxname/1864475,https://aphia.org/ns/taxon-name/fullScientific...,"Hypelasma salevensis (Favre, 1913)",,http://www.w3.org/2001/XMLSchema#string
1,https://aphia.org/id/taxname/1864475,https://rs.tdwg.org/dwc/terms/scientificName,"Hypelasma salevensis (Favre, 1913)",,http://www.w3.org/2001/XMLSchema#string
2,https://aphia.org/id/taxname/1864476,https://aphia.org/ns/taxon-name/fullScientific...,"Matheronia salevensis Favre, 1913",,http://www.w3.org/2001/XMLSchema#string
3,https://aphia.org/id/taxname/1864476,https://rs.tdwg.org/dwc/terms/scientificName,"Matheronia salevensis Favre, 1913",,http://www.w3.org/2001/XMLSchema#string

# TODO -- add lookup by name functions
* alternative by tapping into the sparql endpoint
* alternative by calling to the worms-webservice